//utilities
@import 'variables';


.button {
    color: $light;
    background-color: $primary;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid $primary;
    border-radius: 30px;
    transition: 0.3s;
    
    &:hover {
        background-color: transparent;
        color: $primary;
    }
}

.button-ghost {
    @extend .button; 
    background-color: transparent;
    color: $primary;
    
}