@import 'mixins';
@import 'variables';
@import 'resets';
@import 'utilities';


//navbar
.mobile-header {
    background-color: $light;
   
    .header-top {
        @include container (1rem, 600px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        ul {
            display: flex;
            align-items: center;
        }
        li {
            margin-left: 1.5rem;
            margin-bottom: 0;
        }
        img {
          width: 3rem;
        }
       }

   .header-bottom {
       @include container (1rem, 600px);
       display: flex;
       align-items: flex-start;
       flex-direction: column;
       ul {
           display: flex;
           align-items: center;
       }
       h3 {
           margin-bottom: 1rem;
       }
       li {
           margin-right: 1.5rem;
           margin-bottom: 0;
       }
   }
}

//article 

.article {
    .article-container {
        @include container(5rem 1rem, 600px);
    }
    .blog-details {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        * {
            margin-right: 1rem;
        }
        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        .username {
            color: $primary;
        }
        .date {
            color: $gray;
        }   
    }
    .carsync-link {
        text-decoration: underline;
    }
   ul {
       li {
        
       }
   }   
}